body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}
.container {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}

.col {
    float: left;
    width: 200px;
}

.left {
    width: 75px !important;
}

.left > .cell {
    font-weight: bolder;
}

.header {
    background-color: #b4cac7 !important;
    text-align: center;
    font-weight: bolder;
}

.cell {
    text-align: center;
    align-content: center;
    min-height: 60px;
    padding: 0 10px;
    border: 1px solid #000;
    margin: 0;
    background-color: #dee6f0;
}

.divider {
    text-align: center;
    align-content: center;
    min-height: 20px;
    padding: 0 10px;
    border: 1px solid orange;
    margin: 0;
    background-color: orange;
}

.grow-4 {
    height: 246px; 
}

.grow-3 {
    height: 184px; 
}

.even {
    background-color: #b4cac7 !important;
}

.clear {
    clear: both;
}